html{
	overflow-x: hidden;
}
body{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #141414; 
	height: 2000px;
}
div, p, a, img, form, button{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
	color: #f1f1f1;
	display: block;
}
ul, li{
	padding: 0;
	margin: 0;
	display: block;
}
.notsup{
	display: none;
	position: fixed;
	z-index: 9999;
	background-color: #141414;
	background-image: url(../img/notsuoprted.jpg);
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;	
}
.header{
	right: 0;
    left: 0;
	height: 45px;
	background-color: rgba(20,20,20,0.7);
	position: fixed;
	backdrop-filter: blur(5px);
	display: flex;
	z-index: 99;
	overflow: hidden;
	display: block;
}
.centermenu{
	display: flex;
	width: 75%;
	padding-top: 7px;
	height: 25px;
	padding-right: 0;
	padding-left: 0; 
	margin: auto;

}
.logo, .logoc{
	height: 23px;
	width: 23px;
}
.logoc, .logocenter{
	display: none;
	margin: auto;
}
.logocenter{
	width: 23px;
	height: 23px;
	background-image: url(../img/icon/logo.png);
	background-size: 23px 23px;
	transition: all ease 0.3s;
}
.mylogo{
	width: 23px;
	height: 23px;
	background-image: url(../img/icon/logo.png);
	background-size: 23px 23px;
	transition: all ease 0.3s;
}
.mylogo:hover{
	background-image: url(../img/icon/logoh.png);	
}
.logocenter:hover{
	background-image: url(../img/icon/logoh.png);	
}
.menu{
	display: flex;
	height: 30px;
  	justify-content: space-around;
  	align-items: center;	
  	list-style-type: none;
    -webkit-box-pack: justify;
    text-align: center;
    right: 0;
    left: 0;
    width: 100%;
}
.menu li a:hover{
	color:	#858585;
}
.menu li a{
	transition: all ease 0.3s;
	font-size: 15px;
}
.background{
	background-image: url(../img/background.jpg);
	width: 100%;
	height: 1000px;
	background-position: 50% 50%;
	background-size: cover;
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	box-shadow: inset 0px -100px 50px -50px rgb(20, 20, 20)
}
.welcome{
	text-align: center;
	padding: 0;
	margin: 0;
	padding-top: 257px;
	font-weight: 900;
	font-size: 65px;
	color: #f1f1f1;
}
.beforeafter{
	width: 396px;
	height: 494px;
	box-shadow: 0 0 20px;

}
.preset{
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 75px;
	font-weight: 700;
	font-size: 30px;
	color: #f1f1f1;
}
hr{
	border: none;
    background-color: #f1f1f1; 
    height: 2px; 
    width: 100%;
    margin-top: 75px;
 } 
.aboutme{
	text-align: left;
	padding: 0;
	margin: 0;
	padding-top: 300px;
	font-weight: 700;
	font-size: 30px;
	color: #f1f1f1;
}
.presetdiv{
	padding-top: 50px;
	display: flex;
	height: 494;
    flex-direction: row-reverse;
}
.shoptext{
	height: 494px;
	margin-left: 50px;
}
h3{
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-size: 20px;
	color: #f1f1f1;
}
.text{
	padding-top: 30px;
	font-weight: 400;
	font-size: 20px;
	color: #e1e1e1;
}
.textphone{
	padding-top: 30px;
	font-weight: 400;
	font-size: 20px;
	color: #e1e1e1;
	display: none;	
}
.afterphoto{
	width:396px;
	height:494px;
}
.beforephoto{
	width:396px;
	height:494px;
}
.light{
	padding-top: 30px;
	font-weight: 400;
	font-size: 10px;
	color: #a1a1a1;
}
.button {
    border: 2px solid #f1f1f1;
    font-size: 14px;
    padding: 7px 15px;
    display: block;
    text-decoration: none;
    border-radius: 50px;
    text-align: center;
    max-width: 250px;
    margin: auto;
    margin-top: 35px;
    transition: all 0.2s ease-out;
}
.button:hover{
    background-color: #f1f1f1;
    color: #141414;
}
.main{
	width: 60%;
	max-width: 1000px;
	margin: auto;
}