@media only screen and (max-height: 1280px) {
.background{
	height: 500px;
}
.welcome{
	padding-top: 207px;
}
}
@media only screen and (max-width: 1920px) {
.centermenu{
	width: 50%;
}
.background{
	height: 
}
}
@media only screen and (max-width: 1280px) {
.logo, .logomy{
	display: none;
}
.aboutme{
	padding-top: 250px;
}
.text{
	font-size: 20px;
}
.main{
	width: 80%;
}
}
@media only screen and (max-width: 1000px) {
.del{
	display: none;
}	
}
@media only screen and (max-width: 825px) {
.light{
	display: none;
}
}	
@media only screen and (max-width: 720px) {
.welcome{
	font-size: 50px;
}
.presetdiv{
	display: block;
	margin-left: 0;
	margin: auto;
	width: 396px;
}
.logoc, .logocenter{
	display: block;
}
.logoc{
	padding-top: 5px;
}
.menu{
	display: none;
}
.preset{
	text-align: center;
	font-size: 25px;
	margin-left: 0;
}
.aboutme{
	text-align: center;
	font-size: 25px;
	margin-left: 0;
}
.shoptext{
	height: auto;
	margin-bottom: 35px;
	margin-left: 0;
}
.preset{
	margin-left: 0%;
}
.text{
	display: none;
}
.textphone{
	display: block;
}
.light{
	display: block;
}
.del{
	display: block;
}
.button{
	max-width: 1000px;
}
}
@media only screen and (max-width: 480px) {
.beforephoto{
	width:317px;
	height:395px;
}
.afterphoto{
	width:317px;
	height:395px;
}
.beforeafter{
	width:317px;
	height:395px;	
}
.presetdiv{
	display: block;
	margin-left: 0;
	margin: auto;
	width:317px;	
}
}
@media only screen and (max-width: 400px) {
.beforephoto{
	width:254px;
	height:316px;
}
.welcome{
	font-size: 40px;
}
.afterphoto{
	width:254px;
	height:316px;
}
.beforeafter{
	width:254px;
	height:316px;	
}
.presetdiv{
	display: block;
	margin-left: 0;
	margin: auto;
	height: 630px;
	max-width:254px;	
}
.textphone{
	font-size: 15px;
}
.botton{
	width: 100%;
}
}
@media only screen and (max-width: 310px) {
.notsup{
	display: block;
}
}